@model List<Product> 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product Quantity
            </th>
            <th>
                Product Image
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>