@model List<Student>

<div class="card-group text-center">
    <div class="row">
    @foreach (var student in Model)
    {
            <div class="card col-md-4 mb-2">
                <div class="card-img">
                    <a asp-controller="Student" asp-action="Detail" asp-route-id="@student.Id">
                        <img src="@student.Image" width="200" height="200">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="text-primary">@student.Name</h4>
                </div>
        </div>
    }
    </div>
</div>
